@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/*header */
body {
    background-color: #FCF9F2;
    font-family: 'Inter', serif;
    color: #57673E;
}

.navbar {
    background-color: #FCF9F2;
    border-bottom: 1px solid #ddd;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 2px;
    color: #57673E !important;
}

.nav-link {
    color: #57673E !important;
    font-size: 0.85rem;
    letter-spacing: 1px;
}

.btn-signup {
    background-color: #718355;
    color: #FCF9F2 !important;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 0.85rem;
    border: none;
}

.btn-signup:hover {
    background-color: #57673E;
}

/* main */
.card-1 { background-color: #C6CEBA; border: none; border-radius: 50px !important; min-height: 250px; text-align: center; }
.card-2 { background-color: #859C62; border: none; border-radius: 50px !important; min-height: 250px; color: #FCF9F2; text-align: center;}
.card-3 { background-color: #C9DFA8; border: none; border-radius: 50px !important; min-height: 250px; text-align: center;  }
.card-4 { background-color: #AACD74; border: none; border-radius: 50px !important; min-height: 250px; text-align: center;  }

.card-title-badge {
    background-color: #FCF9F2;
    color: #354C2B;
    padding: 4px 12px;
    border-radius: 27px;
    font-size: 0.75rem;
    font-weight: 600;
    display: block;
    text-align: center;
    margin-bottom: 12px;
    margin-top:10px;
    justify-content: center;
}