@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
/*header */
body {
    background-color: #FCF9F2;
    font-family: 'Inter', serif;
    color: #57673E;
}

.navbar {
    background-color: #FCF9F2;
    border-bottom: 1px solid #ddd;
}

.navbar-logo {
    font-weight: 400;
    letter-spacing: 4px;
    color: #57673E !important;
    font-size: 1.5rem;  /* was 1.25rem, increase this number */
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-logo img {
    vertical-align: middle;
    margin-left: 4px;
}



.nav-link {
    color: #57673E !important;
    font-size: 0.85rem;
    letter-spacing: 1px;
}

.btn-signup {
    background-color: #718355;
    color: #FCF9F2 !important;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 0.85rem;
    border: none;
}

.btn-signup:hover {
    background-color: #57673E;
}






.search-bar {
    background-color: #859C62;
    border-radius: 20px;
    padding: 4px 12px;
    gap: 6px;
}

.search-input {
    background: transparent;
    border: none;
    outline: none;
    color: #FCF9F2;
    font-size: 0.85rem;
    letter-spacing: 1px;
    width: 100px;
}

.search-input::placeholder {
    color: #FCF9F2;
}

.search-btn {
    background: transparent;
    border: none;
    color: #FCF9F2;
    cursor: pointer;
    padding: 0;
    font-size: 0.85rem;
}
.btn-logout {
    background-color: #718355;
    color: #FCF9F2 !important;
    border-radius: 20px;
    padding: 6px 20px;
    font-size: 0.85rem;
    border: none;
    text-decoration: none;
}
.btn-logout:hover {
    background-color: #354C2B;
}